.news-letter:after,
.tag-cloud li a:hover,
.details h4:after,
.blog-detail h4:after,
.story h3:after,
.causes h4:after,
.about-us h4:after,
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span,
button.itgeeks-btn.read-more,
.message h3:after,
.message-description h4:after,
.message-description:hover  a i,
.divider:after,
.divider_btn a:hover,
.social-icon li:hover,
.contact li a i:hover,
.contact li a:hover i,
.pagination-box span:hover,
.progress-bar,
.owl-prev:hover,
.owl-next:hover,
.posts h4:after,
.tags li a:hover,
.event,
.pricing:hover h4,
.faqs-detail h4,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover,
.causes-image .itgeeks-btn:hover,
.itgeeks-btn.donate:hover,
.events-btn:hover,
.itgeeks-btn.subcribes:hover,
.itgeeks-btn.coming-btn:hover,
span.event-btn:hover,
.theme-icon:after,
.theme-icon:before,
#style-switcher h2 a,
.tooltip > .tooltip-inner,
.footer-icon {
	background-color:#f44121;
}
.tag-cloud li a:hover,
.owl-theme .owl-dots .owl-dot span,
.message-description:hover,
.social-icon ul:hover,
.contact ul:hover,
a.itgeeks-btn.donate,
.theme-icon,
.owl-prev:hover,
.owl-next:hover,
.author blockquote,
.category-tags h4:after,
.social-widgets h3:after,
.comments-area h3:after,
.comments-form h3:after,
button.itgeeks-btn.subcribes,
.about-story h3:after,
.single-volatee h3:after,
.event-btn,
.service-detail h3:after,
.pricing:hover,
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active,
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover,
.faqs h3:after,
.enquiry h4:after,
.enquiries h4:after,
.causes-image .itgeeks-btn:hover,
.events-btn:hover,
.divider_btn a:hover,
.post-pagination span:hover,
.itgeeks-btn.coming-btn:hover {
	border-color:#f44121;
} 	
.copyright p a span,
.layers li a:hover ,
.blog-detail h4 a:hover,
.team-detail h4 a:hover,
.team-detail li a:hover,
.story p a:hover,
.causes h4 a:hover,
.about-us h4 a:hover,
.message p a:hover,
.message-description h4:hover,
.message-description a i,
.blog-member-detail,
.causes-detail p,
a.itgeeks-btn.donate,
input[type=checkbox]:checked ~ .box-check,
a.wa-theme-color.no-hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover,
.nav .open > a:focus,
.nav .open > a:hover,
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover, 
ul.nav.navbar-nav li a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
li.active a,
.posts span,
.social-widgets li a:hover,
.comments,
.comments-list span,
button.itgeeks-btn.subcribes,
.about-story p a:hover,
.event-detail span,
.social-media-icn a:hover,
.coming-soon-icon li a:hover,
.post-pagination span:hover,
.pricing h2 sup,
.enquiry-icon,
.itgeeks-btn:hover,
#demo span,
.event-detail h4:hover,
.theme-icon {
	color:#f44121;
}
.popOver + .tooltip > .tooltip-arrow {
    border-top: 15px solid #f44121;
}
